/* Estilos universales */
.pd-5{
	padding: 5%;
}
.mg-t{
	margin-top: 2%;
}
.mg-l{
	margin-left: 5%;
}
.bg-gray{
	background-color: gray;
}
.bg-gray-g{
	background-image: url(../img/frame.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 90%;
	height: 320px;
}
.bg-gray-h{
	width: 100%;
	height: 400%;
}
.video{
	width: 90%;
	height: 200%;
}
.petite{
	margin-top: 20%;
}
/*Footer*/
footer{
	border-top: 5px solid black;
}
